<!-- <html>
	<head>
		<title> My kitten page </title>
		<link href="/stylesheets/application/application.css" rel="stylesheet" type="text/css">
	</head>
	<body> -->
		Hello this is the page dedicated to Berry the cat
<!-- 	</body>	
</html>	 -->